<!--form.vtl-->
<h1>Fill in the blanks to write your story!</h1>
<form action='/change' method='get'>
  <div class="form-group">
    <label for="amount">Amount</label>
    <input id="amount" name="amount" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Make Change!</button>
</form>
<!--form.vtl-->
